* {
   color: cyan;
   font-family: Consolas;
}

h1 {
   text-align: center;
}

body {
   width: 75%;
   background-color: #4a424f;
   margin: auto;
   padding-top: 20px;
}

canvas.widescreen {
   width: 100%;
}

input.centerbtn {
   width: 100%;
   margin: auto;
   font-size: 16pt;
   font-weight: bold;
   color: #4a424f;
   background-color: cyan;
}
.buttonHolder {
   width: 250;
   margin: auto;
}

.pref, .code {
   background-color: black;
   color:magenta;
   font-family: Courier;
   border: 2px inset #4a424f;
}
.pref {
   padding: 15px;
}





.tag {
   font-family: Courier;
   color: slateblue;
}
.string {
   font-family: Courier;
   color: yellowgreen;
}
.att {
   font-family: Courier;
   color: orange;
}
